Repository Canardoux/tau, pull requests merged in 2019-01, with the labels that each got.

#24 merged improved 662d212 from https://github.com/Shigawire
  README.md
  ios/Classes/FlutterSoundPlugin.m
  lib/flutter_sound.dart
Labels: feature, ios

#35 Fixed Android Bug
  android/src/main/java/com/dooboolab/fluttersound/FlutterSoundPlugin.java
Labels: android, bugfix

#39 Fixed slider example.
  example/lib/main.dart
Labels: example

#40 working_seeker_with_audio_example
  example/lib/main.dart
  example/test/unit_test.dart
Labels: example

#41 Fix file URI for recording and playing in iOS
  ios/Classes/FlutterSoundPlugin.m
Labels: enhancement, ios

#36 Feature/db meter
  README.md
  android/src/main/java/com/dooboolab/fluttersound/AudioInterface.java
  android/src/main/java/com/dooboolab/fluttersound/AudioModel.java
  android/src/main/java/com/dooboolab/fluttersound/FlutterSoundPlugin.java
  example/lib/main.dart
  ios/Classes/FlutterSoundPlugin.m
  lib/flutter_sound.dart
Labels: android, feature, ios

#43 Feature/db meter
  android/src/main/java/com/dooboolab/fluttersound/FlutterSoundPlugin.java
Labels: android, bugfix

#44 Fix/ios remote playing
  example/lib/main.dart
  ios/Classes/FlutterSoundPlugin.m
Labels: bugfix, ios
